/***** Google Web Fonts *****/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

/***** Body *****/
body {
    background: #fafafa url('../img/bg.png');
    color: #666;
    font: 12px 'Open Sans', sans-serif;
    margin: 0;
}

/***** General & Basic Reset *****/
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

a, a:hover, img, iframe {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nine-sixty {
    margin: 0 auto;
    width: 960px;
}

/***** Header *****/
#header {
    background: url('../img/header.png');
    height: 166px;
    width: 100%;
}

#social-important {
    height: 40px;
    overflow: hidden;
}

#social-important .left {
    float: right;
    width: 480px;
}

#social-important .left .search {
    float: right;
    height: 68px;
    padding: 2px 0 0 0;
    width: 225px;
}

#social-important .left .search input[type="text"] {
    background: #fff;
    border-radius: 0;
    border: none;
    float: left;
    height: 35px;
    padding: 0 10px;
    width: 170px;
}

#social-important .left .search input[type="submit"] {
    background: url('../img/search.png');
    border: none;
    height: 35px;
    text-indent: -9999px;
    width: 35px;
}

#social-important .left .search input[type="submit"]:hover {
    background-position: bottom;
    cursor: pointer;
}

#social-important .right {
    float: left;
    width: 210px;
}

ul.important-three {
    float: right;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.important-three > li {
    float: left;
    height: 40px;
    line-height: 40px;
}

ul.important-three > li.item-1 {
    background: #01582c;
}

ul.important-three > li.item-2 {
    background: #ff6600;
}

ul.important-three > li.item-3 {
    background: #ff8a00;
}

ul.important-three > li > a {
    color: #fff;
    display: block;
    font-weight: 700;
    height: 40px;
    padding: 0 10px;
    text-transform: uppercase;
}

ul.important-three > li > a:hover {
    text-decoration: none;
}

ul.important-three > li > ul {
    background: #ff8a00;
    display: none;
    left: 50%;
    list-style: none;
    margin: 0 0 0 205px;
    padding: 20px;
    position: absolute;
    width: 235px;
    z-index: 9999; /* Capa Sobre el Menu Principal */
}

#social-important .right ul.important-three > li > ul {
    margin: 0 0 0 -476px;
}

ul.important-three > li > ul a {
    color: #fff;
}

#logo-search {
    height: 100px;
}

#logo-search a.logo {
    background: url('../img/logo.png') center no-repeat;
    display: block;
    float: left;
    height: 100px;
    text-indent: -9999px;
    width: 434px;
}

#logo-search a.sys {
    background: url('../img/logoSys.png') center no-repeat ;
    display: block;
    float: left;
    height: 100px;
    text-indent: -9999px;
    width: 200px;
}

#fix-full 
{
    /* SE CAMBIO*/ 
    background: #005CB9;
    width: 100%;
}

#banner-navigation {
    height: 70px;
}

.nav-fix {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#banner-navigation #bannerNote {
    background: #abb0b4 url('../img/tvtam.png') 235px center no-repeat;
    float: left;
    height: 50px;
    padding: 10px;
    width: 271px;
}

#banner-navigation #bannerNote span {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

#banner-navigation #bannerNote b {
    font-weight: 700;
}

#banner-navigation #bannerNote p {
    color: #fff;
    font-weight: 300;
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    margin: 5px 0 0 0;
}

#banner-navigation #navigation {
    background: #abb0b4;
    float: left;
    height: 70px;
    width: 1043px;
}

/** Menu **/
ul.menu 
{
  /**  abb0b4  SE CAMBIO**/
    background: #005CB9;
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1268px;
    z-index: 7777;
    top: 0px;
    left: -158px;
}

ul.menu > li 
{
     /**  abb0b4  SE CAMBIO**/
    border-left: 1px solid #005CB9;
    float: left;
    height: 70px;
}

ul.menu > li:hover > a 
{
     /**  f5f5f5  SE CAMBIO**/
    background: #95d600;
}

ul.menu > li > a {
    color: #fff;
    display: block;
    height: 32px;
    line-height: 13px;
    text-transform: uppercase;
}

ul.menu > li > a > p {
    font-size: 11px;
}

ul.menu > li > a:hover {
    text-decoration: none;
}

ul.menu > li > a {
    padding: 38px 12px 0 12px;
}

ul.menu > li > ul {
    background: #005CB9;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 220px;
}

ul.menu > li > ul > li {
    height: 30px;
    line-height: 30px;
}

ul.menu > li > ul > li a {
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 0 10px;
}

ul.menu > li > ul > li a:hover {
    background: #95d600;
    text-decoration: none;
}

/***** Main Wrapper *****/
#main-wrapper {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    overflow: hidden;
    width: 1114px;
}

#main-wrapper a {
    color: #000;
}

#main-wrapper p.info-this {
    border-bottom: 1px dashed #d9d9d9;
    padding: 0 30px 10px 30px;
}

/***** Footer *****/
#footer 
{
    /* SE CAMBIO */
    background: #abb0b4;
    margin: 0;
    overflow: Hidden;
    width: 100%;
    height: 149px;
}

#footer #the-footer {
    overflow: Hidden;
    padding: 35px 0;
}

#footer .left {
    float: left;
    width: 345px;
}

#footer .address {
    background: url('../img/escudo.png') left top no-repeat;
    height: 90px;
    padding: 0 0 0 90px;
}

#footer .left span.bold {
    clear: both;
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
}

#footer .left span.light {
    clear: both;
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    margin: 2px 0 0 0;
}

address {
    color: #fff;
    font-style: normal;
    font-size: 10px;
    line-height: 14px !important;
    margin: 10px 0 0 0 !important;
}

#footer .left .legal {
    margin: 20px 0 0 0;
}

#footer .left .legal p {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    margin: 0;
}

#footer .left .legal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer .left .legal li {
    float: left;
}

#footer .left .legal a {
    color: #79c142;
    font-size: 11px;
    font-weight: 600;
    margin: 0 10px 0 0;
}

/***** Page & Post *****/
#page-wrapper {
    background: #fff;
    margin: 0 auto;
    padding: 10px;
    width: 960px;
}

#the-pagecontent {
    min-height: 530px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    width: 960px;
}

#page-wrapper .breadcrums {
    background: #f9f9f9;
    color: #777;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 10px 0;
    padding: 0 5px;
    width: 960px;
}

#page-wrapper .breadcrums a {
    color: #005CB9;
}

#the-body {
    border-right: 1px solid #e9e9e9;
    float: left;
    min-height: 530px;
    padding: 0 10px 0 0;
    width: 709px;
}

#the-body h1 {
    color: #005CB9;
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 10px 0;
}

#the-body h2 {
    color: #005CB9;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 5px 0;
}

#the-body h3 {
    color: #005CB9;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

#the-body p {
    color: #444;
    font-size: 12px;
    margin: 0 0 10px 0;
}

#the-body ul {
    color: #444;
    margin: 0 0 10px 0;
}

#the-body a {
    color: #005CB9;
}

#the-sidebar {
    float: left;
    padding: 0 0 0 10px;
    width: 230px;
}

#the-sidebar h2 {
    color: #005CB9;
    margin: 0 0 10px 0;
}

#the-sidebar ul.news-sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

#the-sidebar ul.news-sidebar li {
    border-top: 1px dashed #e9e9e9;
    padding: 10px 0;
}

#the-sidebar ul.news-sidebar li:first-child {
    border: none;
    padding: 0 0 10px 0;
}

#the-sidebar a {
    color: #005CB9;
}

#the-sidebar a.title {
    clear: both;
    display: block;
    font-weight: 700;
}

#the-sidebar ul.news-sidebar time, #the-sidebar ul.news-sidebar p {
    display: inline;
    font-size: 11px;
}

#the-sidebar a.more {
    display: block;
    font-size: 11px;
}

/* The Body Full */
#the-bodyfull {
    min-height: 530px;
    width: 960px;
}

#the-bodyfull h1 {
    color: #005CB9;
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 10px 0;
}

#the-bodyfull h2 {
    color: #005CB9;
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 5px 0;
}

#the-bodyfull h3 {
    color: #005CB9;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

#the-bodyfull p {
    color: #444;
    font-size: 12px;
    margin: 0 0 10px 0;
}

#the-bodyfull ul {
    color: #444;
    margin: 0 0 10px 0;
}

#the-bodyfull a {
    color: #005CB9;
}

/* The Media  */
#the-media {
    overflow: hidden;
}

#the-media h1 {
    border-bottom: 1px solid #f1f1f1;
    color: #005CB9;
    display: block;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 15px 0;
    padding: 0 0 5px 0;
}

#the-media .picFlicks {
    background: #f6f6f6;
    margin: 0 0 20px 0;
    overflow: hidden;
    width: 960px;
}

#the-media .picFlicks span {
    background: #abb0b4 url('../img/arrowSign.png') left center no-repeat;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 800;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 30px;
    text-transform: uppercase;
}

#the-media .picFlicks ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    width: 960px;
}

#the-media .picFlicks ul li {
    float: left;
    margin: 0 9px 0 0;
}

#the-media .picFlicks ul li img {
    vertical-align: middle;
}

#the-media .big-video iframe {
    background: url('../img/grayPattern.png');
    float: left;
    margin: 0 10px 0 0;
    padding: 10px;
}

#the-media ul.list-media {
    float: left;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    width: 400px;
}

#the-media ul.list-media li {
    background: #f5f5f5;
    height: 70px;
    margin: 0 0 10px 0;
    width: 400px;
}

#the-media ul.list-media img {
    float: left;
    height: 70px;
    margin: 0 5px 0 0;
    width: 100px;
}

#the-media ul.list-media .info {
    color: #005CB9;
    height: 60px;
    overflow: hidden;
    padding: 5px;
}

#the-media .links-media {
    clear: both;
    display: block;
    height: 80px;
    width: 960px;
}

#the-media .links-media ul {
    float: left;
    height: 80px;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
    width: 510px;
}

#the-media .links-media li {
    height: 35px;
    margin: 0 0 10px 0;
    width: 510px;
}

#the-media .links-media a {
    background: #FE9A05 url('../img/arrowWhite.png') 10px center no-repeat;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 35px;
    text-transform: uppercase;
    width: 475px;
}

#the-media .links-media a:hover {
    background: #FF8A00 url('../img/arrowWhite.png') 10px center no-repeat;
    text-decoration: none;
}

#the-media .ban {
    background: purple;
    float: left;
    height: 80px;
    width: 430px;
}

/***** Down Menu *****/
#downmenu {
    background: #014F28;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#downmenu .menu-in-sixty {
    margin: 0 auto;
    width: 960px;
}

#downmenu a.logo {
    background: url('../img/logo.png') 5px 5px no-repeat;
    display: block;
    float: left;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
}

#downmenu ul.menu {
    float: left;
    height: 50px;
}

#downmenu ul.menu > li {
    height: 50px;
}

#downmenu ul.menu > li > a {
    color: #fff;
    display: block;
    height: 34px;
    line-height: 13px;
    text-transform: uppercase;
}

#downmenu ul.menu > li > a {
    padding: 16px 12px 0 12px;
}

#downmenu ul.important-three > li {
    height: 50px;
    width: 50px;
}

#downmenu ul.important-three > li > a {
    height: 50px;
    width: 50px;
    text-indent: -9999px;
}