<!--<appSettings >
  <add key="connetionString" value="Data Source=10.8.32.21;Initial Catalog=PNL_NSJP;User ID=JESUS;Password=PNL_JG0218"/>
  <add key="prueba2" value="Este es otro valor nuevo."/>
</appSettings>-->


<connectionStrings>
  <clear/>
  <add name="PGJ_NSJPConnectionString2" connectionString="Data Source=172.23.8.22;Initial Catalog=PNL_NSJP;User ID=JESUS;Password=PNL_JG0218" providerName="System.Data.SqlClient" />
</connectionStrings>